Source/Directory.Build.props
Source/obj/
Source/bin/
*.dll.new

_unity/Library/
_unity/Temp/
_unity/Logs/
_unity/obj/
_unity/UserSettings/
_unity/BundleOut/
_unity/*.csproj
_unity/*.sln
_blender/__pycache__/
*.log

.codegpt-game.json
.vs/
*.user
*.suo

*.rar
HS_Portal-v*.zip

Thumbs.db
Desktop.ini
.DS_Store
